@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

.App{
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
}
.App1{
  padding: 50px 0 0 50px;
  
}
body{
  margin: 0; 
  background-color: rgb(2, 133, 100);
}
.App a{
  text-decoration: none;
  margin: 5px 15px;
  font-size: 25px;
  padding: 8px 20px;
  color: white;
  padding-bottom: 5px;
  border-bottom: solid 8px black;
}
.App a:hover{
  color: white;
  border-bottom: solid 8px white;
  box-shadow: 0 0 7px white;
}
.App a:focus{
  color: white;
  border-bottom: solid 8px white;
  box-shadow: 0 0 7px white;
}
.app{
  position: fixed;
  left: 170px;
  top: -2px;
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  background-color: black;
  box-shadow: 0 0 15px black;
}
.App .result{
  padding-top: 30px;
}